.calendario {
  display: flex;
  flex-wrap: wrap;
}

.dia {
  background-color: #ffbbaf; 
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    text-transform: capitalize;
    width: 100%; /* Ancho ajustable según tu preferencia */

  ul {
    list-style: none;
    padding: 0;
    flex: 1;

    li {
      margin: 10px 0;
    }
  }

  h2 {
    background-color: #cbe6d4;
    padding: 5px;
    width: 100%;
  }

  @media (min-width: 768px) {
    width: 14%;
    &:not(:last-child) {
      border-right: none;
    }
  }
}

.comidas {
  flex: 1;
}

.input-comida {
  width: 100%;
}

.container {
  text-align: center;
}

.dias-container {
  display: flex;
  justify-content: space-between;
}

.obtener-ingredientes {
  background-color: #ff6347; 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 50px; /* Redondeado */
  cursor: pointer;
}
