.calendario {
  display: flex;
  flex-wrap: wrap;
}

.dia {
  background-color: #ffbbaf; 
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  margin: 2px;
  text-transform: capitalize;
  width: 100%; /* Ancho ajustable según tu preferencia */

  ul {
    list-style: none;
    padding: 0;
    flex: 1;

    li {
      margin: 10px 0;
    }
  }

  .texto-dia {
    background-color: #ffffff;
    padding: 5px;
    width: 100%;
    border-radius: 50px;
    border: 3px solid #ff4747;
    font-size: 30px;

  }

  @media (min-width: 768px) {
    width: 14%;
    &:not(:last-child) {
      border-right: none;
    }
  }
}

.comidas {
  flex: 1;
}

.input-comida {
  width: 94%;
}

.comida-container {
  background-color: #ffffff;
  border-radius: 10px;
  border: 2px solid #ff4747;
  padding-bottom: 5px;
  margin: 5px;
}

.texto-comida {
  font-size: 20px;
}
.container {
  text-align: center;
}

.dias-container {
  display: flex;
  justify-content: space-between;
}

.obtener-ingredientes {
  background-color: #ff6347; 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 50px; /* Redondeado */
  cursor: pointer;
}
