.semana-container {
  flex-wrap: wrap;
  text-align: center;
}

.dia {
  background-color: #ffbbaf; 
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 2px;
  margin: 3px;
  text-transform: capitalize;
  width: 100%; 

  ul {
    list-style: none;
    padding: 0;
    flex: 1;

    li {
      margin: 10px 0;
    }
  }

  .texto-dia {
    background-color: #ffffff;
    padding: 5px;
    width: 100%;
    border-radius: 10px;
    border: 3px solid #ff4747;
    font-size: 30px;

  }

  @media (min-width: 768px) {
    width: 14%;
    &:not(:last-child) {
      border-right: none;
    }
  }
}

.comidas {
  flex: 1;
}

.input-comida {
  width: 94%;
  font-size: 11px;
}

.comida-container {
  background-color: #ffffff;
  border-radius: 10px;
  border: 2px solid #ff4747;
  padding-bottom: 5px;
  margin: 5px;
}

.texto-comida {
  font-size: 20px;
}
// 
.dias-container {
  display: flex;
  justify-content: space-between;
}

.obtener-ingredientes {
  background-color: #ff6347; 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 50px; 
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.obtener-ingredientes:hover{
  background-color: #ff6347be
}

.ingredientes-list {
  list-style: none;
  padding: 0;
}

.ingredientes-list li {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.ingredientes-list input {
  margin-right: 10px;
}

.obtener-presupuesto {
  background-color: #1a9e53bf;
  color: white;
  border-radius: 50px;
  border: none;
  margin-top: 3px;
  padding: 10px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.obtener-presupuesto:hover {
  background-color: #1a9e5388;
}