.page__title {
  font-size: 24pt;   
}

.home_title {
  text-align: center; /* Centra el texto horizontalmente */
  width: 100%;       /* O ajusta el ancho según tus necesidades */
  margin: 0 auto;    /* Centra el elemento en el medio del contenedor */
}

.calendar-title {
  background-color: #fff;
  padding: 10px; 
  border: 2px solid #000;
  border-radius: 10px;
  width: 30%;
  margin-left: 640px;
  text-align: center;
}