.page__title {
  font-size: 24pt;   
}

.home_title {
  text-align: center; /* Centra el texto horizontalmente */
  width: 100%;       /* O ajusta el ancho según tus necesidades */
  margin: 0 auto;    /* Centra el elemento en el medio del contenedor */
}

.calendar_title {
  text-align: center; /* Centra el texto horizontalmente */
  width: 100%;       /* O ajusta el ancho según tus necesidades */
  margin: 0 auto;    /* Centra el elemento en el medio del contenedor */
}